* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(228, 5%, 15%);
  --text-color: hsl(228, 5%, 80%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.project-title {
  margin: 14px;
}

.task-item {
  margin-bottom: 10px;
  padding-left: 8px;
}

.task-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.task-title {
  font-size: 1.3rem;
  margin-right: auto;
  margin-bottom: 2px;
}

.btn {
  background: none;
  border: none;
  padding: 8px 10px;
  color: var(--text-color);
  font-size: 19px;
  cursor: pointer;
}

.btn.remove:hover {
  color: red
}

.task-header.complete > .btn.toggle {
  color: green;
}

.task-header.complete > .task-title{
  text-decoration: line-through;
  text-decoration-color: green;
}

.task-details {
  margin-left: 38px;
}

.task-desc {
  background-color: var(--bg-color);
  border: none;
  color: var(--text-color);
  width: 100%;
  min-height: 5rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 8px;
}

.task-footer {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-item.edit {
  transform: scale(1.003);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 14px 12px 12px 12px;
}

:not(.edit) > .task-details {
  display: none;
}

body.blur > *:not(.edit) {
  filter: blur(2px);
}


