* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(228, 5%, 15%);
  --text-color: hsl(228, 5%, 80%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.project-title {
  margin: 14px;
}

.task-item {
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.task-item > p {
  font-size: 1.3rem;
}

.task-item.complete > .task-title{
  text-decoration: line-through;
  text-decoration-color: green;
}

.task-item.edit {
  transform: scale(1.003);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.task-due-date {
  margin-left: auto;
  margin-right: 10px;
}

.btn {
  background: none;
  border: none;
  padding: 8px 10px;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.btn.remove:hover {
  color: red
}

.task-item.complete > .btn.toggle {
  color: green;
}

.task-item.complete > p {
  color: #eee;
}
