* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(228, 5%, 15%);
  --text-color: hsl(228, 5%, 80%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Header */ 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.open-nav {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  margin-left: 14px;
}

.open-nav .bar {
  border-radius: 1000px;
  background: #eee;
  width: 30px;
  height: 3px;
  margin: 0px 2px;
  position: relative;
  top: 17px;
  transition: 300ms all ease-in-out;
}

.open-nav .bar:first-child {
  top: 10px;
}

.open-nav .bar:last-child {
  top: 25px;
}

.open-nav.open .bar:first-child {
  transform: rotate(45deg);
  top: 18px;
}

.open-nav.open .bar:last-child {
  transform: rotate(-45deg);
  top: 12px;
}

.open-nav.open .bar.mdl {
  opacity: 0;
}

.logo {
  margin-right: 14px;
  font-size: 30px;
}

/* Sidebar */
.sidebar {
  transition: 200ms all ease-in-out;
  position: fixed;
  width: 100%;
  background:rgba(0,0,0,1);
  height: 100%;
  left: 0px;
  transition: 300ms all ease-in-out;
}

.sidebar li{
  font-size: 24px;
  color: var(--text-color);
  display: flex;
  gap: 16px;
  padding: 8px 5px;
  margin: 8px;
  width: 100%;
  text-decoration: none;
  transition: 200ms all ease-in-out;
}

.sidebar.closed {
  left: -100%;
}

/* Content */
.project-title {
  margin: 14px;
}

.task-item {
  margin-bottom: 10px;
  padding-left: 8px;
}

.task-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.task-title {
  font-size: 1.3rem;
  background: none;
  border: none;
  outline: none;
  color: var(--text-color);
  caret-color: blue;
  margin-right: auto;
  margin-bottom: 2px;
}

.btn {
  background: none;
  border: none;
  padding: 8px 10px;
  color: var(--text-color);
  font-size: 19px;
  cursor: pointer;
}

.btn.remove {
  color: red
}

.task-header.complete > .btn.toggle {
  color: green;
}

.task-header.complete > .task-title{
  text-decoration: line-through;
  text-decoration-color: green;
}

.task-details {
  margin-left: 38px;
}

.task-desc {
  background-color: var(--bg-color);
  border: none;
  outline: none;
  color: var(--text-color);
  width: 100%;
  min-height: 5rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 8px;
}

.task-footer {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#task-due-date {
  background: none;
  border: none;
  outline: none;
  color: var(--text-color);
}

.task-item.edit {
  transform: scale(1.003);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 14px 12px 12px 12px;
}

:not(.edit) > .task-details {
  display: none;
}

body.blur > *:not(.edit) {
  filter: blur(2px);
}

/* Footer */
